{% extends 'base.html' %}

{% block title %}
Medical Timeline
{% endblock %}

{% block content %}

<div class="container-fluid">

<!-- HEADER -->

<div class="card border-0 shadow-sm mb-4"
     style="border-radius:20px;">

    <div class="card-body p-4">

        <span class="badge bg-primary mb-2">
            MEDICAL TIMELINE
        </span>

        <h1 class="fw-bold">
            Neurological Health Journey
        </h1>

        <p class="text-muted fs-5">

            Track MRI analyses, AI observations,
            and neurological health records over time.

        </p>

    </div>

</div>

<!-- ACTION BUTTON -->

<div class="mb-4">

    <a href="/upload"
       class="btn btn-primary">

        Upload New MRI Scan

    </a>

</div>

{% if records %}

<div class="timeline">

    {% for record in records %}

    <div class="card shadow-sm border-0 mb-4"
     style="border-left:6px solid #2563eb; border-radius:16px;">

        <div class="card-body">

            <div class="row align-items-center">

                <div class="col-md-2">

                    <img src="/{{ record.image_path }}"
                        class="img-fluid rounded shadow-sm">

                </div>

                <div class="col-md-6">

                    <div class="mb-2">

                        <span class="badge bg-success">

                            Analysis Complete

                        </span>

                        <span class="badge bg-secondary">

                            NLS-{{ record.id }}

                        </span>

                    </div>

                    <h4 class="fw-bold">

                        MRI Analysis Report

                    </h4>

                    <p class="text-muted mb-2">

                        {{ record.upload_date.strftime('%d %b %Y') }}

                    </p>

                    <p>

                        AI observation indicates
                        patterns associated with

                        <strong>

                            {{ record.prediction }}

                        </strong>

                    </p>

                </div>

                

                <div class="col-md-2 text-end">

                    <a href="/result/{{ record.id }}"
                    class="btn btn-primary">

                        View Report

                    </a>

                </div>

            </div>

        </div>

        </div>


    {% endfor %}

</div>

{% else %}

<div class="alert alert-info">

    <div class="alert alert-info">

        <h5>
            No MRI Records Available
        </h5>

        <p class="mb-3">

            Upload your first Brain MRI scan
            to begin building your neurological
            health timeline.

        </p>

        <a href="/upload"
        class="btn btn-primary">

            Upload First MRI Scan

        </a>

    </div>

</div>

{% endif %}


</div>

{% endblock %}
